@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

/* --- GENERAL STYLE CLASSES -------------------------------------------------*/

.no_outline {
  outline: none;
}

.no_border {
  border: none;
}

.flex {
  display: -webkit-flex;
  display: flex;
}

.flex_start {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.column_nowrap {
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.center_align {
  -webkit-align-items: center;
  align-items: center;
}

.default_color {
  background-color: #FAFAFA;
}


.tb_margin { /* Top bottom margin */
  margin: .3em 0;
}

.tblr_margin { /* Top bottom left right margin */
  margin: .3em;
}

/* --- GENERAL STYLES --------------------------------------------------------*/

body {
  font-family: 'Roboto', sans-serif;
  margin: none;
}

h1 {
  font-size: 2em;
  font-weight: 500;
}

#wrapper {
  max-width: 1600px;
  max-height: 640px;
}

#body {
  flex: 6;
  margin-top: 20px;
}

/* --- MENU ------------------------------------------------------------------*/

#menu {
  flex: 1;
}

/* --- GRID ------------------------------------------------------------------*/

.container {
  margin: auto;
}

ul{
  padding:0px;
  margin:0px;
}

li {
  display: inline-block;
  list-style-type:none;
  height:25px;
  width:25px;
  border: 1px solid  black;
  margin: 0 1px;
}


/* --- BUTTONS ---------------------------------------------------------------*/


/* Size input */

#height,
#width {
  width: 5.2em;
}

/* Options buttons */

#new_grid,
#clear {
  width: 5.5em;
}


#new_grid:hover,
#new_grid:focus {
  background-color: #4CAF50;
  color: #FAFAFA;
}

#clear:hover,
#clear:focus {
  background-color: #F44336;
  color: #FAFAFA;
}

#new_grid:active {
  background-color: #388E3C;
}

#clear:active {
  background-color: #D32F2F;
}
